@font-face {
    font-family: myFirstFont;
    src: url(../assets/Fonte/VT323_Regular.ttf);
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: myFirstFont;
    background-color: black;
  }
  
  :root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 65px;
  }
  
  .resultado-grafico {
    position: relative;
    width: 30%;
    height: 30%;
  }

  .tituloGraficos {
    color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
  }

  .Quiz{
color: #FFFBFE;
  }

  .container {
    display: flex;
    width: 80%;
    margin: auto;
  }
  
  .header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .agora {
    font-weight: 600;
    color: #EF00D7;
  }
  
  .QuebraPag {
    display: flex;
    justify-content: space-evenly;
  }
  
  .Fases {
    font-size: 35px;
    justify-content: space-around;
    display: flex;
    
  }
  .UmAoQuatro{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .CincoAoOito{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .NoveAoDoze{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .container .navbar .agora a {
    color: #EF00D7;
  }
  
  .header a {
    text-decoration: none;
    color: #37FFFF;
  }
  
  .navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #37FFFF;
    font-size: 20px;
  }
  
  .titulo {
    color: #37FFFF;
    width: fit-content;
    height: 100px;
    width: 120px;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .base {
    display:flex;
    width: 80%;
    height: 50%;
    background-color: #FFFBFE;
    margin-left: 10%;
  }
  
  .perguntas {
    font-size: 22px;
  }

  .footer {
    height: var(--tamanho-footer);
    width: 100%;
    color: #000;
  }
  
  .footer h4 {
    margin: 0;
  }
  
  .footer .container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  
  .footer .container .version {
    font-size: 12px;
    font-weight: 800;
  }

  .label-captura {
    display: flex;
    justify-content: center;
  }
  
  .dash-right .avisos {
    width: 100%;
    /* border: 3px solid pink; */
    color: rgb(216, 216, 216);
    font-family: "Exo 2", sans-serif;
  }
  
  .dash-right .avisos .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dash-right .avisos .container .div-form {
    width: 100%;
  }
  
  .dash-right .avisos .container .div-form #form_postagem {
    width: 100%;
  }
  
  .dash-right .avisos .div-form label {
    width: 100%;
  }
  
  .dash-right .avisos .div-form input {
    width: 100%;
    border-radius: 5px;
  }
  
  .dash-right .avisos .div-form textarea {
    width: 100%;
    /* color: #E6005A; */
    border: 3px solid #e6005a;
    background-color: white;
    border-radius: 5px;
  }
  
  .dash-right .avisos .div-form button {
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #e6005a;
    width: 120px;
  }
  
  .publicacao-btn-editar {
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 8px;
    color: white;
    background-color: #e6005a;
    width: 80px;
  }
  
  .publicacao {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-bottom: 3px solid #e6005a;
    padding: 20px;
  }
  
  .publicacao > *:not(:last-child) {
    padding: 0 0 10px 0;
  }
  
  .div-results {
    width: 100%;
  }
  
  .div-results .feed-container {
    background-color: #212124;
    border-radius: 5px;
    margin-bottom: 80px;
  }
  
  .div-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .div-buttons > * {
    margin-left: 30px;
  }
  
  /* pagina graficos */
  
  .dash-header {
    background-color: #212124;
  }
  
  .dash {
    width: 80%;
    position: relative;
    top: 0;
    left: 20%;
    background-color: #161618;
    height: 100vh;
    overflow: auto;
  }
  
  .regua {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }